%h1= @user.email
%p Posiada książki:
%ul
   - @assigments.each do |a|
      %li= link_to a.book.title, :controller => "/books", :action => "show", :id => a.book.slug
%br
%br
= link_to "Powrót do listy użytkowników", {:action => "index"}
