%div{:class => "holders"}
   - if @assigments.size > 0 then
      %p Książkę posiadają:
      - count = 0
      - @assigments.each do |a|
         - count = count + 1
         - if count > 4
            = clear_both
            - count = 0
         %div{:class => "books_show"}
            %strong= link_to a.user.username, :controller => "/profiles", :action => "show", :id => a.user.username
            %br/
            = link_to image_tag(a.user.avatar.url(:thumb), :class => "glow"), {:controller => "profiles", :action => "show", :id => a.user.username}
      = clear_both
   - else
      %p Nikt nie posiada tej książki.
