%h1 Moje pozycje
%p Tutaj znajduje się lista książek, które posiadasz
%div
   - count = 0
   - @books.each do |b|
      - count = count + 1
      - if count > 5
         %div{:style => "clear: both;"}
         - count = 0
      %div{:class => "books_show"}
         %strong= link_to b.book.title, :action => "show", :id => b.book.slug
         %br/
         = link_to image_tag(b.book.photo.url(:thumb), :class => "glow"), {:action => "show", :id => b.book.slug }
         %br/
         %i= link_to "Usuń pozycję", {:action => 'destroy', :id => b.book.id}, :confirm => "Jesteś pewien, że chcesz usunąć tą pozycję z swoich książek?", :method => :delete
   %div{:style => "clear: both;"}
%br/
%br/
%p= link_to "Wróć na główną", :controller => "books"
