%p
   %strong Opinie o tej książce
- if not @opinions.nil? and not @opinions.empty?
   %table
      %thead
         %tr
            %th{:scope => "cols", :style => "width: 200px"} Autor
            %th{:scope => "cols", :style => "width: 150px;"} Data
            %th{:scope => "cols", :style => "width: 150px;"} Tytuł
            %th{:scope => "cols", :style => "width: 300px;"} Treść
      %tbody
         - @opinions.each do |opinion|
            %tr
               %td= opinion.user.username
               %td= human_date(opinion.created_at)
               %td= opinion.title
               %td= markdown(opinion.text)
- else
   %p Nie dodano jeszcze żadnych opini.
