/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/

body {
    margin: 0;
    padding: 0;
    background-color: white;
    font: 11px;
}

a {
    color: #000;
}
a:hover {
    color: #ABABAB;
}

.text {
    margin: 5px;
}

.topHeader {
    background-color: #222;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
    margin: 0 auto;
    padding: 7px;
    padding: 7px;
    color: #FFF;
    font-size: 15px;
}

.topHeaderRight {
    float: right;
}

.topHeader a {
    color: #FFF;
}

.topHeader a:hover {
    color: #ABABAB;
}
