.columns {
   margin: 0 auto;
   width: 900px;
}
.left_column {
   width: 400px;
   float: left;
}

.right_column {
   width: 500px;
   float: left;
}

.holders {
   clear: both;
   margin: 0 auto;
   width: 350px;
   ul {
      list-style-type: none;
      display: block;
      li {
         display: inline;
         white-space: nowrap;
         margin-right: 5px;
      }
   }
   li {
      float: left;
      a { font-weight: bold; }
   }
}
