<p>Witaj <%= @resource.email %>!</p>

<p>Możesz potwierdzić swoje konto przy pomocy poniższego odnośnika:</p>

<p><%= link_to 'Potwierdz moje konto', confirmation_url(@resource, :confirmation_token => @resource.confirmation_token) %></p>
