%p>
   Witaj
   = @resource.email
%p Ktoś zażądał zmiany hasła do tego konta. Można je zmienić przy pomocy poniższego odnośnika:
%p= link_to "Zmień moje hasło", edit_password_url(@resource, :reset_password_token => @resource.reset_password_token)
%p
   Jeśli to nie Ty, proszę zigornorować tą wiadomość.
   %br
   Hasło nie zostanie zmienione póki nie wykorzystasz powyższego odnośnika albo nie zażądasz nowego.
